# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# IDE and editor settings
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Temporary files
*.tmp
*.temp
.DS_Store

# Output folders
public/
documentos/

# PM2 logs
.pm2/
